// Variables
$fuente-principal: 'Poppins', sans-serif;
$blanco: #ffffff;
$negro: #111111;
$naranja: #ffb400;
$naranja-2: #fa5b0f;
$rojo: #ff0000;
$gris-claro: #c1c1c1;
$gris-claro-2: #b5b5b5;
$gris: #ababab;
$gris-oscuro: #9e9e9e;
$gris-oscuro-2: #5c5c5c;

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: $negro;
    color: $blanco;
    margin: 0rem;
    padding: 0rem;
    font-family: $fuente-principal;
    font-size: 1.6rem;
}


// Globales
h1,h2,h3,h4,h5,h6{
    margin: 0rem;
    padding: 0rem;
}
li{
    list-style: none; 
}
a{
    text-decoration: none;
}


