@charset "UTF-8";
.header {
  width: 100vw;
  height: 8rem;
  display: flex;
  align-items: center;
}
.header .brand {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  flex-grow: 1;
  flex-basis: 15%;
}
.header .brand .span {
  color: #ffb400;
  margin-left: 0rem;
}
.header .menu {
  margin: 0rem;
  padding: 0rem;
  flex-grow: 4;
  flex-basis: 70%;
  display: flex;
  justify-content: space-evenly;
}
.header .menu .inicio, .header .menu .usuario, .header .menu .portafolio, .header .menu .habilidades, .header .menu .contacto {
  color: #ffffff;
  font-size: 2rem;
  display: none;
}
.header .menu li a {
  text-transform: uppercase;
  color: #ffb400;
  font-size: 1.8rem;
  font-weight: 600;
}
.header .menu a:hover {
  color: #ffffff;
}
.header .menu a:hover i {
  color: #ffb400;
}
.header .menu-responsive {
  color: #ffffff;
  font-size: 3rem;
  cursor: pointer;
  display: none;
  flex-grow: 1;
  flex-basis: 15%;
}
.header .menu-responsive #abrir_menu, .header .menu-responsive #cerrar_menu {
  cursor: pointer;
}

@media (max-width: 992px) {
  .header .brand {
    font-size: 2.6rem;
  }
  .header .menu li a {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .header .brand {
    font-size: 2.4rem;
    padding-left: 5rem;
    display: flex;
    justify-content: flex-start;
  }
  .header .menu {
    background-color: #252525;
    width: 100vw;
    height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out; /* Ajusta la duración según tus necesidades */
    padding-top: 6rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header .menu li {
    width: 100%;
    border-bottom: 1px solid #111111;
    padding: 2rem 0rem 2rem 3rem;
    display: flex;
  }
  .header .menu li a {
    font-size: 2.5rem;
    display: flex;
  }
  .header .menu li .inicio, .header .menu li .usuario, .header .menu li .portafolio, .header .menu li .habilidades, .header .menu li .contacto {
    display: block;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .header .mostrar_menu {
    transform: translateX(0%);
    transition: transform 0.6s ease-in-out; /* Ajusta la duración según tus necesidades */
  }
  .header .menu-responsive {
    padding-right: 5rem;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #111111;
  color: #ffffff;
  margin: 0rem;
  padding: 0rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem;
  padding: 0rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  width: 100vw;
  height: 80vh;
}
.content .wrap-content {
  width: min(100%, 120rem); /* = a: width: 90%; max-width:120rem;*/
  height: auto;
  margin: 4.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}
.content .wrap-content .perfil {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content .wrap-content .perfil .img-perfil {
  width: 32.2rem;
  height: 32.2rem;
  margin-right: 4.4rem;
  margin-top: 8rem;
  display: flex;
  justify-content: flex-end;
}
.content .wrap-content .perfil .img-perfil img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 0.8rem solid #ffb400;
}
.content .wrap-content .info {
  width: 100%;
  height: 100%;
  padding-top: 10.5rem;
  padding-right: 4.7rem;
}
.content .wrap-content .info .hola {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #eee;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.content .wrap-content .info .titulo {
  font-size: 4.2rem;
  line-height: 6.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.9rem;
  margin-bottom: 0rem;
}
.content .wrap-content .info .titulo .jmp {
  color: #ffb400;
}
.content .wrap-content .info .info-text {
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.content .wrap-content .info .btn {
  margin-top: 2rem;
  background-color: #111111;
  width: 21.6rem;
  padding: 1.8rem;
  border: 0.2rem solid #ffb400;
  border-radius: 3.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffb400;
  transition: all 600ms;
  box-shadow: 3px 3px 4.5px #5c5c5c;
}
.content .wrap-content .info .btn:hover {
  box-shadow: 4.5px 4.5px 3px #111111 inset, -2.5px -2.5px 4px #111111 inset;
  background-color: #ffb400;
  color: #111111;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .content .wrap-content .info .titulo {
    font-size: 4rem;
  }
}
@media (max-width: 1162px) {
  .content .wrap-content .perfil {
    padding-bottom: 5rem;
  }
  .content .wrap-content .info .titulo {
    font-size: 3.7rem;
  }
}
@media (max-width: 992px) {
  .content .wrap-content {
    margin: 0rem;
    padding: 0rem;
    grid-template-rows: repeat(2, 1fr);
  }
  .content .wrap-content .perfil {
    width: 80%;
    height: 100%;
    margin: 0rem auto;
    margin-top: 5.8rem;
    padding-bottom: 0rem;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
  }
  .content .wrap-content .perfil .img-perfil {
    width: 28.2rem;
    height: 28.2rem;
    margin: 0rem;
    padding: 0rem;
  }
  .content .wrap-content .info {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0rem auto;
    padding: 0rem;
    text-align: center;
  }
  .content .wrap-content .info .titulo {
    font-size: 3.4rem;
  }
  .content .wrap-content .info .hola, .content .wrap-content .info .titulo, .content .wrap-content .info .info-text {
    margin: 0rem;
    padding: 0rem;
  }
}
@media (max-width: 768px) {
  .content .wrap-content {
    max-height: 90vh;
  }
  .content .wrap-content .perfil {
    width: 100%;
    max-height: 26.5rem;
    margin-top: 2rem;
  }
  .content .wrap-content .perfil .img-perfil {
    width: 22.2rem;
    height: 22.2rem;
    margin: 0rem;
    padding: 0rem;
  }
  .content .wrap-content .info {
    width: 100%;
    padding: 0rem 2.6rem;
  }
  .content .wrap-content .info .titulo {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .content .wrap-content {
    max-height: 70vh;
  }
  .content .wrap-content .info .titulo {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .content .wrap-content .info {
    align-items: flex-start;
  }
  .content .wrap-content .info .info-text {
    text-align: start;
  }
  .content .wrap-content .info .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .content .wrap-content .info .titulo {
    font-size: 2.8rem;
  }
}
@media (max-width: 400px) {
  .content .wrap-content .info .hola {
    font-size: 2rem;
  }
  .content .wrap-content .info .titulo {
    font-size: 2.2rem;
  }
}
@media (max-width: 330px) {
  .content .wrap-content .info .hola {
    font-size: 1.6rem;
  }
  .content .wrap-content .info .titulo {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
